<section class="clHeader">
    <div>
      <h1>Header</h1>
    </div>
    <div>
      <a (click)="getAllData()" >
        <p>my</p>
        <p>data</p>
      </a>
    </div>
    <div class="btsBlock">
      <div class="btns">
        <button (click)="login()" >login</button>
        <button (click)="logout()" >logout</button>
      </div>
      <div class="btns">
        <button (click)="goToNewUserForm()" id="newUser" >new user</button>
        <button (click)="goToAllUers()" >update my profil</button>
      </div>
    </div>
  </section>